body {
  font-size: 15px;
  /* font-family: "Big Shoulders Display", cursive; */
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 1440px;
}
.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  padding-top: 6em;
  box-sizing: border-box;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
h3 {
  color: hsl(0, 0%, 95%);
}
figure {
  margin: auto;
}
.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 3em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 3em;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 3em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#sedanbtn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 30px;
}
#sedanbtn:hover {
  background-color: hsl(31, 77%, 52%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: hsl(0, 0%, 95%);
}
#suvbtn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 30px;
}
#suvbtn:hover {
  background-color: hsl(184, 100%, 22%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: hsl(0, 0%, 95%);
}
#luxbtn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  height: 40px;
  width: 140px;
  border: none;
  border-radius: 30px;
}
#luxbtn:hover {
  background-color: hsl(179, 100%, 13%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: hsl(0, 0%, 95%);
}
@media (max-width: 1439) and (min-width: 375px) {
  body {
    font-size: 15px;
    font-family: "Big Shoulders Display", cursive;
    /* font-family: "Lexend Deca", sans-serif; */
    font-weight: 700;
    width: 375px;
  }
}
